@model MvcCv.Models.Entity.Education
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title>Eğitim Güncelleme</title>
<br />
<h3>Eğitim Güncelleme Sayfası</h3>
<br />
<form method="post">
    <label>ID</label>
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    <label>Okul</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Title, "", new { @style = "color:red" })
    <br />
    <label>Okul Türü</label>
    @Html.TextBoxFor(x => x.SubTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.SubTitle, "", new { @style = "color:red" })
    <br />
    <label>Bölüm</label>
    @Html.TextBoxFor(x => x.SubTitle2, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.SubTitle2, "", new { @style = "color:red" })
    <br />
    <label>Not Ortalaması</label>
    @Html.TextBoxFor(x => x.GPA, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.GPA, "", new { @style = "color:blue" })
    <br />
    <label>Okuduğu Tarih</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Date, "", new { @style = "color:blue" })
    <br />
    <button class="btn btn-success" type="submit">Güncelle</button>
</form>

