@using MvcCv.Models.Entity
@model List<Education>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>Eğitimler</title>
<br />
<h2>Eğitim Listesi</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>Alt Başlık</th>
            <th>Alt Başlık 2</th>
            <th>GNO</th>
            <th>Tarih</th>
            <th>Sil</th>
            <th>Düzenle</th>
        </tr>
    </tbody>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Title</td>
            <td>@x.SubTitle</td>
            <td>@x.SubTitle2</td>
            <td>@x.GPA</td>
            <td>@x.Date</td>
            <td><a href="/Education/Remove/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Education/Edit/@x.ID" class="btn btn-success">Düzenle</a></td>
        </tr>
    }
</table>
<a href="/Education/AddEducation/" class="btn btn-primary">Yeni Eğitim Ekle</a>



