@using MvcCv.Models.Entity
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title>Hakkımda</title>
<br />
<h2>Hakkımda Düzenleme Sayfası</h2>
<br />
<form method="post">
    @foreach (var x in Model)
    {
        <input type="hidden" name="ID" value="@x.ID" readonly />
        <label>Ad</label>
        <input type="text" class="form-control" name="Name" value="@x.Name" />
        <br />
        <label>Soyad</label>
        <input type="text" class="form-control" name="Surname" value="@x.Surname" />
        <br />
        <label>Adres</label>
        <input type="text" class="form-control" name="Address" value="@x.Address" />
        <br />
        <label>Telefon</label>
        <input type="tel" class="form-control" name="Phone" value="@x.Phone" />
        <br />
        <label>E-Posta</label>
        <input type="email" class="form-control" name="Mail" value="@x.Mail" />
        <br />
        <label>Fotoğraf</label>
        <input type="text" class="form-control" name="Image" value="@x.Image" />
        <br />
        <label>Açıklama</label>
        <textarea type="text" rows="5" class="form-control" name="Description">@x.Description</textarea>

    }
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>